body {
  background-color: navy;
  color: ghostwhite;
}

svg {
  width: 1176px;
  height: 588px;
  rect {
    width: 14px;
    height: 14px;
    &.onrock {
      fill: navy;
    }
    &.onopen {
      fill: papayawhip;
    }
  }
  circle {
    &.hero {
      fill: red;
    }
    &.exit {
      fill: orange;
    }
  }
}