body {
  background-color: navy;
  color: ghostwhite;
  margin: 0px;
  padding-top: 0px;
}

#statusBar {
  width: 100%;
  background-color: #666;
  padding: 8px 40px;
}

svg {
  width: 1176px;
  height: 588px;
  rect {
    width: 14px;
    height: 14px;
    &.onrock {
      fill: navy;
    }
    &.onopen {
      fill: papayawhip;
    }
  }
  circle {
    &.hero {
      fill: red;
    }
    &.exit {
      fill: orange;
    }
    &.weapon {
      fill: darkturquoise;
    }
    &.monster {
      fill: darkviolet;
    }
    &.healthpack {
      fill: green;
    }
  }
}