body {
  background-color: navy;
  color: ghostwhite; }

svg {
  width: 1120px;
  height: 560px; }
  svg rect {
    width: 14px;
    height: 14px; }
    svg rect.onrock {
      fill: navy; }
    svg rect.onopen {
      fill: papayawhip; }
  svg circle.hero {
    fill: red; }
  svg circle.exit {
    fill: orange; }
