body {
  background-color: #33332a;
  color: ghostwhite;
  margin: 0px;
  padding-top: 0px; }

#statusBar {
  background-color: #b44;
  padding: 8px 120px;
  margin: 0px auto; }

#statusList {
  margin: 0px; }
  #statusList li {
    display: inline-block;
    width: 150px;
    margin-right: 40px;
    font-family: Menlo, "Lucida Console", Courier, monospace;
    font-size: 16px;
    color: #d7d7d7; }

#toggle-mask {
  padding: 0px 12px;
  cursor: pointer;
  font-size: 18px; }

#dungeon {
  padding: 10px;
  text-align: center; }

svg {
  width: 1176px;
  height: 588px;
  margin: 2px auto; }
  svg rect {
    width: 14px;
    height: 14px; }
    svg rect.onrock {
      fill: #33332a; }
    svg rect.onopen {
      fill: papayawhip; }
    svg rect.maskRect {
      width: 1176px;
      height: 588px;
      stroke: none;
      fill: #33332a;
      mask: url(#lightAroundHero); }
    svg rect.anticandle {
      width: 1176px;
      height: 588px;
      stroke: none;
      fill: white; }
  svg circle.hero {
    fill: red; }
  svg circle.exit {
    fill: orange; }
  svg circle.weapon {
    fill: darkturquoise; }
  svg circle.monster {
    fill: darkviolet; }
  svg circle.boss {
    fill: darkviolet; }
  svg circle.bossEdge {
    fill: papayawhip;
    opacity: 0; }
  svg circle.healthpack {
    fill: green; }
  svg circle.candlelight {
    stroke: none;
    fill: black;
    opacity: 1;
    transition: opacity 2s; }
  svg circle.candledark {
    stroke: none;
    fill: black;
    opacity: 0;
    transition: opacity 2s; }

.modalH2 {
  font-family: 'Peralta', cursive;
  font-size: 32px;
  margin: 0 0 0.6em 0; }

.modalP {
  font-family: Arial, Helvetica, Sans-Serif;
  font-size: 14px; }

.modalButton {
  background-color: #b44;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-family: Arial, Helvetica, Sans-Serif;
  font-size: 16px;
  border-radius: 4px; }
  .modalButton:hover {
    background-color: #722;
    cursor: pointer; }
