body {
  background-color: navy;
  color: ghostwhite;
  margin: 0px;
  padding-top: 0px; }

#statusBar {
  width: 100%;
  background-color: #666;
  padding: 8px 40px; }

svg {
  width: 1176px;
  height: 588px; }
  svg rect {
    width: 14px;
    height: 14px; }
    svg rect.onrock {
      fill: navy; }
    svg rect.onopen {
      fill: papayawhip; }
  svg circle.hero {
    fill: red; }
  svg circle.exit {
    fill: orange; }
  svg circle.weapon {
    fill: darkturquoise; }
  svg circle.monster {
    fill: darkviolet; }
  svg circle.healthpack {
    fill: green; }
